DATABASE_URL=postgres://root:root@localhost:5432/scandium
HOST=0.0.0.0
PORT=3001
ALLOWED_ORIGIN=http://localhost:3000
APP_URL=http://localhost:3000

# Address from which all emails are sent to users
APP_EMAIL=onboarding@resend.dev

# jwtsecretkeygenerator.com
JWT_SECRET=secretkey

# resend.com
RESEND_API_KEY=re_XXXXXXXXXXX